@charset "UTF-8";
$borderColor: #dcdcea;

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: '微软雅黑', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #535353;
}

a {
  text-decoration: none;
}

